<div class="container m-auto">
  <h1 class="text-center">Mi App</h1>
  <hr>
  <div class="row">
    <div class="col-xl-6 col-sm-12">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc lacinia rutrum libero nec venenatis. Suspendisse at ex nec diam mollis porta sagittis vitae justo. Sed nec mi non est ullamcorper efficitur et id eros. Suspendisse sit amet odio ac lacus sodales sodales ac at quam. Suspendisse finibus, tellus eu auctor finibus, arcu odio suscipit mauris, non condimentum nunc nisl vel metus. Aenean ultrices scelerisque porttitor. In sed congue lectus. Fusce placerat felis et rhoncus vehicula. In hac habitasse platea dictumst. Suspendisse vitae erat sed dui congue congue vehicula eget odio. Donec vulputate nisi molestie ligula ultricies, vitae hendrerit felis dictum. Fusce tortor felis, consequat nec ipsum nec, luctus tempor tellus. Aenean semper lectus lacus, vel euismod odio ullamcorper vel. Phasellus commodo arcu ac ipsum tincidunt pulvinar. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed ultrices molestie cursus.

        Vivamus mattis leo risus, ut pretium ex auctor ac. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec aliquet est eu nisi tempus, eu finibus lorem vestibulum. Ut et ipsum ultricies justo vulputate facilisis. Phasellus ante dui, efficitur id pretium blandit, elementum id metus. Fusce viverra pharetra nisl vel elementum. Nulla placerat malesuada augue ac mattis. Vivamus sit amet aliquam tellus. Sed tortor eros, ultrices nec neque sed, sagittis ullamcorper lectus. Integer ante est, blandit hendrerit auctor et, imperdiet nec dui. Aliquam arcu erat, sodales semper urna quis, facilisis convallis ex. Aenean scelerisque id enim a vehicula. Nunc consectetur at enim ut semper.

        Pellentesque at scelerisque turpis, ac pellentesque justo. Mauris turpis ex, lobortis et cursus non, egestas sed diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec cursus tellus. Suspendisse faucibus sit amet eros ut ultrices. Duis rhoncus condimentum auctor. Nunc sit amet tellus lacinia, bibendum leo ac, tristique sapien. Sed interdum rutrum eros, id fringilla est pellentesque sit amet. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean tempor placerat ante. Cras at facilisis velit, quis tincidunt dui. Aliquam ullamcorper sapien sem, ornare facilisis mi eleifend et.
      </p>

    </div>

    <div class="col-xl-6 col-sm-12">
      <img src="assets/foto.jpeg" class="img-fluid">
    </div>

  </div>
</div>
